## 資料庫連接 & CRUD

*  RDB : MysQL
*  NoSQL : MongoDB

### 1. MysqL

#### 1.0 安裝套件 -- mysqlclient

* Python 2+ : pip install mysqlclient
* Python 3+ : pip3 install mysqlclient

#### 1.1 引用套件

In [1]:
import MySQLdb

#### 1.2 連接資料庫

In [2]:
conn = MySQLdb.Connect(host="localhost",user = "root",passwd ="user",db="Demo",charset="utf8")

#### 1.3 顯示資料表清單

In [3]:
cmd = conn.cursor()
cmd.execute("Show TABLES")
r = cmd.fetchall()
print(r)

(('Article',), ('EMPLOYEE',), ('Products',))

#### 1.4 創建資料表

In [20]:
sql = """CREATE TABLE IF NOT EXISTS EMPLOYEE (
         ID INTEGER NOT NULL AUTO_INCREMENT,
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,
         SEX CHAR(1),
         INCOME FLOAT,
         COUNTRY VARCHAR(30),
         PRIMARY KEY (ID))"""

cmd.execute(sql)

0

#### 1.5 新增資料

In [70]:
#新增一筆資料

sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME,COUNTRY)
         VALUES ('Nick', 'Lin', 35, 'M',80000,"Taichung")"""

try:
    cmd.execute(sql)
    conn.commit()
    print("Insert Success")
    
except:   
    conn.rollback()
    print("Insert Error")

Insert Success

In [44]:
#新增多筆資料

sql = "INSERT INTO EMPLOYEE VALUES(%s,%s,%s,%s,%s,%s,%s)"
print(cmd.executemany(sql,[
    (0,'David', 'Yang', '45', 'M','55500','Taipei'),
    (0,'Mark', 'Hu', '28', 'M','33500','Taipei'),
    (0,'Carol', 'Chen', '25', 'F','42500','Taipei'),
    ]))
conn.commit()

3

#### 1.6 查詢資料

In [84]:
#一次將所有的查詢結果都取回後，再以迴圈輸出

sql = "SELECT * FROM EMPLOYEE"

try:
    cmd.execute(sql)
    results = cmd.fetchall()
    for row in results:
        pid = row[0]
        fname = row[1]
        lname = row[2]
        age = row[3]
        sex = row[4]
        income = row[5]
        country= record[6]
        
        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country )) 
  
    
except:
    print("Error: unable to fecth data")

Error: unable to fecth data

In [75]:
#一次只取回一筆查詢結果，這種方式在處理大量資料時，可以節省記憶體空間

sql = "SELECT * FROM EMPLOYEE"
cmd.execute(sql)
    
try:
    cmd.execute(sql)
    
    rowsCount = cmd.rowcount
    print(rowsCount)
    
    for i in range(0,rowsCount):
        record = cmd.fetchone()
        pid = row[0]
        fname = record[1]
        lname = record[2]
        age = record[3]
        sex = record[4]
        income = record[5]
        country= record[6]

        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country ))
        
except:
    print("Error: unable to fecth data")

4
fname=David,lname=Yang,age=45,sex=M,income=55500, country=Taipei
fname=Mark,lname=Hu,age=28,sex=M,income=33500, country=Taipei
fname=Carol,lname=Chen,age=25,sex=F,income=42500, country=Taipei
fname=Nick,lname=Lin,age=32,sex=M,income=80000, country=Taichung

#### 1.7 更新資料

In [74]:
sql = "UPDATE EMPLOYEE SET AGE ='32' WHERE FIRST_NAME ='Nick'"
cmd.execute(sql)
conn.commit()

#### 1.8 刪除資料

In [77]:
sql = "DELETE FROM EMPLOYEE WHERE AGE >= '%d'" % (50)
#print(sql)

#sql = "DELETE FROM EMPLOYEE"

try:
    
    cmd.execute(sql)
    conn.commit()
    
    sql = "SELECT * FROM EMPLOYEE"
    cmd.execute(sql)
  
    print( cmd.fetchall())   
    #print( cmd.fetchmany(2))      
    #print( cmd.fetchone())
    
except:
    conn.rollback()

((1, 'David', 'Yang', 45, 'M', 55500.0, 'Taipei'), (2, 'Mark', 'Hu', 28, 'M', 33500.0, 'Taipei'), (3, 'Carol', 'Chen', 25, 'F', 42500.0, 'Taipei'), (4, 'Nick', 'Lin', 32, 'M', 80000.0, 'Taichung'))

#### 1.9 呼叫預存程序

In [ ]:
cmd.callproc('show_N_most_expensive_goods')

#### 1.10 關閉資料庫連接

In [78]:
conn.close()

In [98]:
import MySQLdb
conn = MySQLdb.Connect(host="localhost",user = "root",passwd ="user",db="Demo",charset="utf8")
sql = "SELECT * FROM EMPLOYEE"
df = pd.read_sql_query(sql,con=conn)
df

   ID FIRST_NAME LAST_NAME  AGE SEX   INCOME   COUNTRY
0   1      David      Yang   45   M  55500.0    Taipei
1   2       Mark        Hu   28   M  33500.0    Taipei
2   3      Carol      Chen   25   F  42500.0    Taipei
3   4       Nick       Lin   32   M  80000.0  Taichung

In [102]:
df.loc[2]['INCOME']

42500.0

### 2. MongoDB


* Start MongoDB service :  sudo service mongod start

#### 2.0 安裝套件 -- pymongo
* Python 2+ : pip install pymongo
* Python 3+ : pip3 install pymongo

#### 2.1 引用套件

In [79]:
import pymongo

#### 2.2 連接資料庫

In [80]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
 mydb = myclient["MyTestDB"]

In [83]:
dblist = myclient.list_database_names()
if "MyTestDB" in dblist:
    print("DB 已存在！")
else:
    print("DB 不存在！")

DB 已存在！

#### 2.4 插入資料

In [82]:
mycol = mydb["sites"]

# 插入一筆資料

mydict = { "name": "Google", "alexa": "1", "url": "https://www.google.com" } 
x = mycol.insert_one(mydict) 
print(x.inserted_id)

5bc840bc5f627d0d01114801

In [23]:
# 插入多筆資料

mylist = [
  { "name": "Taobao", "alexa": "100", "url": "https://www.taobao.com" },
  { "name": "QQ", "alexa": "101", "url": "https://www.qq.com" },
  { "name": "Facebook", "alexa": "10", "url": "https://www.facebook.com" },
  { "name": "知乎", "alexa": "103", "url": "https://www.zhihu.com" },
  { "name": "Github", "alexa": "109", "url": "https://www.github.com" }
]
 
x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5bc814d25f627d09980d0ba6'), ObjectId('5bc814d25f627d09980d0ba7'), ObjectId('5bc814d25f627d09980d0ba8'), ObjectId('5bc814d25f627d09980d0ba9'), ObjectId('5bc814d25f627d09980d0baa')]

In [24]:
# 插入多筆資料並指定id
mylist = [
  { "_id": 11, "name": "RUNOOB", "cn_name": "菜鸟教程"},
  { "_id": 12, "name": "Google", "address": "Google 搜索"},
  { "_id": 13, "name": "Facebook", "address": "脸书"},
  { "_id": 14, "name": "Taobao", "address": "淘宝"},
  { "_id": 15, "name": "Zhihu", "address": "知乎"}
]
 
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[11, 12, 13, 14, 15]

#### 2.5 查詢資料

In [25]:
# 回傳一筆資料
x = mycol.find_one() 
print(x)

{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}

In [26]:
# 回傳多筆資料
data = mycol.find()
for x in data :
    print(x)

{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}
{'_id': ObjectId('5bc814d25f627d09980d0ba6'), 'alexa': '100', 'url': 'https://www.taobao.com', 'name': 'Taobao'}
{'_id': ObjectId('5bc814d25f627d09980d0ba7'), 'alexa': '101', 'url': 'https://www.qq.com', 'name': 'QQ'}
{'_id': ObjectId('5bc814d25f627d09980d0ba8'), 'alexa': '10', 'url': 'https://www.facebook.com', 'name': 'Facebook'}
{'_id': ObjectId('5bc814d25f627d09980d0ba9'), 'alexa': '103', 'url': 'https://www.zhihu.com', 'name': '知乎'}
{'_id': ObjectId('5bc814d25f627d09980d0baa'), 'alexa': '109', 'url': 'https://www.github.com', 'name': 'Github'}
{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}
{'_id': 12, 'address': 'Google 搜索', 'name': 'Google'}
{'_id': 13, 'address': '脸书', 'name': 'Facebook'}
{'_id': 14, 'address': '淘宝', 'name': 'Taobao'}
{'_id': 15, 'address': '知乎', 'name': 'Zhihu'}

In [27]:
# Select 呈現特定欄位
for x in mycol.find({},{ "_id": 0, "name": 1, "alexa": 1 }):
    print(x)

{'alexa': '1', 'name': 'Google'}
{'alexa': '100', 'name': 'Taobao'}
{'alexa': '101', 'name': 'QQ'}
{'alexa': '10', 'name': 'Facebook'}
{'alexa': '103', 'name': '知乎'}
{'alexa': '109', 'name': 'Github'}
{'name': 'RUNOOB'}
{'name': 'Google'}
{'name': 'Facebook'}
{'name': 'Taobao'}
{'name': 'Zhihu'}

In [28]:
# 條件查詢
myquery = { "name": "RUNOOB" } 
mydoc = mycol.find(myquery) 

print (mydoc)

for x in mydoc:
     print(x)

<pymongo.cursor.Cursor object at 0x7f82acee84e0>
{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}

In [29]:
# 條件查詢 , 使用正規表達式
myquery = { "name": { "$regex": "^R" } }
 
mydoc = mycol.find(myquery)
 
for x in mydoc:
    print(x)

{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}

In [30]:
#顯示前三筆資料
myresult = mycol.find().limit(3)
 
# 输出结果
for x in myresult:
    print(x)

{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}
{'_id': ObjectId('5bc814d25f627d09980d0ba6'), 'alexa': '100', 'url': 'https://www.taobao.com', 'name': 'Taobao'}
{'_id': ObjectId('5bc814d25f627d09980d0ba7'), 'alexa': '101', 'url': 'https://www.qq.com', 'name': 'QQ'}

In [31]:
#依特定欄位排序資料

mydoc = mycol.find().sort("alexa")

# mydoc = mycol.find().sort("alexa", -1)

for x in mydoc:
    print(x)

{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}
{'_id': 12, 'address': 'Google 搜索', 'name': 'Google'}
{'_id': 13, 'address': '脸书', 'name': 'Facebook'}
{'_id': 14, 'address': '淘宝', 'name': 'Taobao'}
{'_id': 15, 'address': '知乎', 'name': 'Zhihu'}
{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}
{'_id': ObjectId('5bc814d25f627d09980d0ba8'), 'alexa': '10', 'url': 'https://www.facebook.com', 'name': 'Facebook'}
{'_id': ObjectId('5bc814d25f627d09980d0ba6'), 'alexa': '100', 'url': 'https://www.taobao.com', 'name': 'Taobao'}
{'_id': ObjectId('5bc814d25f627d09980d0ba7'), 'alexa': '101', 'url': 'https://www.qq.com', 'name': 'QQ'}
{'_id': ObjectId('5bc814d25f627d09980d0ba9'), 'alexa': '103', 'url': 'https://www.zhihu.com', 'name': '知乎'}
{'_id': ObjectId('5bc814d25f627d09980d0baa'), 'alexa': '109', 'url': 'https://www.github.com', 'name': 'Github'}

#### 2.6 更新資料

In [32]:
#依特定條件,更新資料
myquery = { "alexa": "10000" }
newvalues = { "$set": { "alexa": "12345" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}
{'_id': ObjectId('5bc814d25f627d09980d0ba6'), 'alexa': '100', 'url': 'https://www.taobao.com', 'name': 'Taobao'}
{'_id': ObjectId('5bc814d25f627d09980d0ba7'), 'alexa': '101', 'url': 'https://www.qq.com', 'name': 'QQ'}
{'_id': ObjectId('5bc814d25f627d09980d0ba8'), 'alexa': '10', 'url': 'https://www.facebook.com', 'name': 'Facebook'}
{'_id': ObjectId('5bc814d25f627d09980d0ba9'), 'alexa': '103', 'url': 'https://www.zhihu.com', 'name': '知乎'}
{'_id': ObjectId('5bc814d25f627d09980d0baa'), 'alexa': '109', 'url': 'https://www.github.com', 'name': 'Github'}
{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}
{'_id': 12, 'address': 'Google 搜索', 'name': 'Google'}
{'_id': 13, 'address': '脸书', 'name': 'Facebook'}
{'_id': 14, 'address': '淘宝', 'name': 'Taobao'}
{'_id': 15, 'address': '知乎', 'name': 'Zhihu'}

In [33]:
#依正規表達式條件,更新資料
myquery = { "name": { "$regex": "^F" } }
newvalues = { "$set": { "alexa": "123" } }
 
x = mycol.update_many(myquery, newvalues)
 
print(x.modified_count, "文件已經修改")

2 文件已經修改

#### 2.7 刪除資料

In [34]:
# 依特定條件,刪除一筆資料
myquery = { "name": "Taobao" }
 
mycol.delete_one(myquery)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5bc814c05f627d09980d0ba5'), 'alexa': '1', 'url': 'https://www.google.com', 'name': 'Google'}
{'_id': ObjectId('5bc814d25f627d09980d0ba7'), 'alexa': '101', 'url': 'https://www.qq.com', 'name': 'QQ'}
{'_id': ObjectId('5bc814d25f627d09980d0ba8'), 'alexa': '123', 'url': 'https://www.facebook.com', 'name': 'Facebook'}
{'_id': ObjectId('5bc814d25f627d09980d0ba9'), 'alexa': '103', 'url': 'https://www.zhihu.com', 'name': '知乎'}
{'_id': ObjectId('5bc814d25f627d09980d0baa'), 'alexa': '109', 'url': 'https://www.github.com', 'name': 'Github'}
{'cn_name': '菜鸟教程', '_id': 11, 'name': 'RUNOOB'}
{'_id': 12, 'address': 'Google 搜索', 'name': 'Google'}
{'alexa': '123', '_id': 13, 'address': '脸书', 'name': 'Facebook'}
{'_id': 14, 'address': '淘宝', 'name': 'Taobao'}
{'_id': 15, 'address': '知乎', 'name': 'Zhihu'}

In [35]:
# 依正規表達示條件,刪除多筆資料

myquery = { "name": {"$regex": "^F"} }
 
x = mycol.delete_many(myquery)
 
print(x.deleted_count, "個文件已刪除")

2 個文件已刪除

#### 2.8 刪除 Collections

In [36]:
mycol.drop()