sudo apt-get install mysql-server<br>
sudo apt install libmysqlclient-dev<br>
pip3 install mysqlclient<br>

In [1]:
import MySQLdb
conn = MySQLdb.Connect(host="localhost",user = "root",passwd ="user",db="Demo",charset="utf8")
cmd = conn.cursor()
cmd.execute("Show TABLES")
r = cmd.fetchall()
print(r)

(('Article',), ('EMPLOYEE',), ('Products',))

In [64]:
sql = """CREATE TABLE IF NOT EXISTS EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,
         SEX CHAR(1),
         INCOME FLOAT)"""

cmd.execute(sql)

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:8: Warning: (1050, "Table 'EMPLOYEE' already exists")

0

In [83]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Debby', 25, 'F',33500)"""

try:
    cmd.execute(sql)
    conn.commit()
    
except:   
    conn.rollback()

In [117]:
sql = "SELECT * FROM EMPLOYEE"

try:
    cmd.execute(sql)
    # 获取所有记录列表
    results = cmd.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
          # 打印结果
        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d" % \
                  (fname, lname, age, sex, income ))
except:
    print("Error: unable to fecth data")

fname=Lin,lname=David,age=2,sex=M,income=33500
fname=Lee,lname=Debby,age=25,sex=F,income=33500
fname=Wang,lname=Chris,age=25,sex=M,income=33500

In [123]:
sql = "DELETE FROM EMPLOYEE WHERE AGE >= '%d'" % (50)
#print(sql)

#sql = "DELETE FROM EMPLOYEE"

try:
    # 执行SQL语句
    cmd.execute(sql)
    # 提交修改
    conn.commit()
    sql = "SELECT * FROM EMPLOYEE"
    cmd.execute(sql)
   # cmd.fetchall()
    print( cmd.fetchall())
    cmd.execute(sql)
    print( cmd.fetchmany(2))
    cmd.execute(sql)
    print( cmd.fetchone())
    
except:
    # 发生错误时回滚
    conn.rollback()

(('Lin', 'David', 2, 'M', 33500.0, None), ('Lee', 'Debby', 25, 'F', 33500.0, None), ('Wang', 'Chris', 25, 'M', 33500.0, None), ('Lin', 'David', 2, 'M', 33500.0, None), ('Lee', 'Debby', 25, 'F', 33500.0, None), ('Wang', 'Chris', 25, 'M', 33500.0, None), ('Lin', 'David', 2, 'M', 33500.0, None), ('Lee', 'Debby', 25, 'F', 33500.0, None), ('Wang', 'Chris', 25, 'M', 33500.0, None))
(('Lin', 'David', 2, 'M', 33500.0, None), ('Lee', 'Debby', 25, 'F', 33500.0, None))
('Lin', 'David', 2, 'M', 33500.0, None)

In [91]:
sql = "ALTER TABLE EMPLOYEE ADD TEL CHAR(15)" 
cmd.execute(sql)
conn.commit()

In [97]:
sql = "UPDATE EMPLOYEE SET AGE ='32' WHERE LAST_NAME ='Nick'"
cmd.execute(sql)
conn.commit()

In [122]:
sql = "INSERT INTO EMPLOYEE VALUES(%s,%s,%s,%s,%s,%s)"
print(cmd.executemany(sql,[
    ('Lin', 'David', '2', 'M','33500',None),
    ('Lee', 'Debby', '25', 'F','33500',None),
    ('Wang', 'Chris', '25', 'M','33500',None),
    ]))
conn.commit()

3

In [15]:
cmd.callproc('show_N_most_expensive_goods')

OperationalError: (1318, 'Incorrect number of arguments for PROCEDURE Demo.show_N_most_expensive_goods; expected 1, got 2')